{% extends 'base.html.twig' %}
{% block title %}Add Customer{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mx-auto">
            <img src="https://i.pinimg.com/originals/9d/a8/e9/9da8e997452025ced686008bf6bbc58a.jpg" style="width: 1500px; height: 700px ">
        </div>
    </div>
{% endblock %}

