{% extends 'base.html.twig' %}
<<<<<<< HEAD
{% block title %}Add Product{% endblock %}
=======
{% block title %}Update Customer{% endblock %}
>>>>>>> origin/master

{% block body %}
    <div class="container">
        {{ form(form) }}
    </div>
{% endblock %}